<div class="course">

  <h2>{{description}}</h2>



  <mat-form-field>

    <input matInput placeholder="Search role" #input>

  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">

    <mat-spinner></mat-spinner>

  </div>

  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource"
             matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="name">

      <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>

      <mat-cell *matCellDef="let role" class="roleEdit" (click)="editRole(role)" >{{role.name}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="parent">

      <mat-header-cell *matHeaderCellDef>parent</mat-header-cell>

      <mat-cell class="description-cell"
                *matCellDef="let role">{{role.parent}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="privileges">

      <mat-header-cell *matHeaderCellDef>privileges</mat-header-cell>

      <mat-cell class="duration-cell"
                *matCellDef="let role">{{role.privileges}}</mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>


  <mat-paginator [length]="getCount()" [pageSize]="1"
                 [pageSizeOptions]="[1, 3, 5]"></mat-paginator>


</div>
