<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}">Home</a>
    |
    <a th:href="@{/productList}">
        Product List
    </a>
    |
    <a th:href="@{/shoppingCart}">
        My Cart
    </a>
    |<!--sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')"-->
    <th:block  id="orderList">
        <a th:href="@{/admin/orderList}">
            Order List
        </a>
        |
    </th:block>
    <!--sec:authorize="hasRole('ROLE_MANAGER')"-->
    <th:block  id="product">
        <a th:href="@{/admin/product}">
            Create Product
        </a>
        |
    </th:block>
</div>