<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Error!</div>
<h3 style="color:red;">Error code: <span th:utext="${#request.getAttribute('javax.servlet.error.status_code')}" /></h3>

<th:block th:include="/_footer"></th:block>

</body>
</html>